{% extends 'base.html.twig' %}

{% block title %}Edit TeamMembers{% endblock %}

{% block body %}
    <h1>Edit TeamMembers</h1>

    {{ include('team_members/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_team_members_index') }}">back to list</a>

    {{ include('team_members/_delete_form.html.twig') }}
{% endblock %}
