{% extends 'base.html.twig' %}

{% block title %}TeamMembers index{% endblock %}

{% block body %}
    <h1>TeamMembers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team_member in team_members %}
            <tr>
                <td>{{ team_member.id }}</td>
                <td>
                    <a href="{{ path('app_team_members_show', {'id': team_member.id}) }}">show</a>
                    <a href="{{ path('app_team_members_edit', {'id': team_member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_team_members_new') }}">Create new</a>
{% endblock %}
