{% extends 'base.html.twig' %}

{% block title %}New TeamMembers{% endblock %}

{% block body %}
    <h1>Create new TeamMembers</h1>

    {{ include('team_members/_form.html.twig') }}

    <a href="{{ path('app_team_members_index') }}">back to list</a>
{% endblock %}
