{% extends 'base.html.twig' %}

{% block title %}TeamMembers{% endblock %}

{% block body %}
    <h1>TeamMembers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team_member.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_team_members_index') }}">back to list</a>

    <a href="{{ path('app_team_members_edit', {'id': team_member.id}) }}">edit</a>

    {{ include('team_members/_delete_form.html.twig') }}
{% endblock %}
