<form method="post" action="{{ path('app_team_summer_match_delete', {'id': team_summer_match.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team_summer_match.id) }}">
    <button class="btn btn-custom">Delete</button>
</form>
