{% extends 'base.html.twig' %}

{% block title %}Edit TeamSummerMatch{% endblock %}

{% block body %}
    <h1>Edit TeamSummerMatch</h1>

    {{ include('team_summer_match/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <a href="{{ path('app_team_summer_match_index') }}" class="btn btn-custom">back to list</a>
    <br><br>
    {{ include('team_summer_match/_delete_form.html.twig') }}
{% endblock %}
