{% extends 'base.html.twig' %}

{% block title %}New TeamSummerMatch{% endblock %}

{% block body %}
    <h1>Create new TeamSummerMatch</h1>
    {{ include('team_summer_match/_form.html.twig') }}
    <br>
    <a href="{{ path('app_team_summer_match_index') }}" class="btn btn-custom">back to list</a>
{% endblock %}
